$breakpoint-xs: 	20em;   //320px
$breakpoint-s: 		30em;	//480px
$breakpoint-m: 		50em;	//800px
$breakpoint-xm: 	65em;   //1040px
$breakpoint-l: 		80em;   //1280px
$breakpoint-xl: 	100em;  //1600px

$color-blue: #0db2bd;
$color-blue-dark: #09969f;
$color-white: #FFFFFF;
$color-black: #000000;

$font-light: 'gotham_light', sans-serif;
$font-default: 'gotham_book', sans-serif;
$font-medium: 'gotham_medium', sans-serif;
$font-bold: 'gotham_bold', sans-serif;