.Button {
    cursor: pointer;
    border: 0;
    background-color: $color-blue;
    color: $color-white;
    padding: 0 1em;
    height: 50px;
    &:focus {
        outline: none;
        border: 0;
    }
    &:hover,
    &:active {
        background-color: $color-blue-dark;
    }
}

.Button .Icon {
    fill: $color-white;
}

.Button--addEvent {
    float: right;
}

.Button--full {
    margin-top: 1em;
    width: 100%;
}