.Footer {
    margin-top: 1em;
    color: $color-white;
}

.Footer-content {
    background: $color-blue;
    .Container {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.Footer-link {
    display: inline-block;
    color: $color-white;
    font-size: .8em;
    margin-right: 1em;
}

.Footer-copywrite {
    background: $color-blue-dark;
    .Container {
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .Copywrite {
        font-size: .7em;
    }
}