input {
    cursor: pointer;
    &:focus {
        outline: none;
        border: 0;
    }
}

select {
    appearance: none;
    &:focus {
        outline: none;
        border: 0;
    }
    &::-ms-expand {
        display: none;
    }
}