input {
    cursor: pointer;
    &:focus {
        outline: none;
        border: 0;
    }
}

select {
    appearance: none;
    &:focus {
        outline: none;
        border: 0;
    }
    &::-ms-expand {
        display: none;
    }
}

.Event-form {
    
}
.Form-group {
    margin-bottom: .5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    label {
        flex: 1 auto;
        display: inline-block;
        width: 24%;
        vertical-align: top;
    }
    input,
    textarea {
        flex: 1 auto;
        display: inline-block;
        width: 75%;
        background: $color-gray;
        padding: .5em;
        border: 0;
        &:focus {
            outline: none;
            background: $color-gray;
            border: 0;
        }
    }
}

