.Header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-blue;
    color: $color-white;
    text-align: center;
    padding-bottom: 1em;
    z-index: 1;
}

.Header-description {
    margin-top: .5em;
}