.Header {
    width: 100%;
    background: $color-blue;
    color: $color-white;
    padding-bottom: 1em;
    height: 6em;
    display: flex;
}

.Header-title {
    flex: 1 auto;
    a {
        color: $color-white;
        &:hover {
            text-decoration: none;
        }
    }
}

.Nav {
    flex: 1 auto;
    text-align: right;
    margin-top: -.5em;
}

.Nav-item {
    background: $color-blue-dark;
    color: $color-white;
    padding: .8em 1.5em;
    cursor: pointer;
    display: inline-block;
    &:hover {
        text-decoration: none;
        background: $color-blue-darker;
    }
}

.Button-add {
    flex: 1 auto;
    background: $color-white;
    color: $color-blue;
}