.Header {
    // position: fixed;
    // top: 0;
    width: 100%;
    background: $color-blue;
    color: $color-white;
    padding-bottom: 1em;
    z-index: 1;
    height: 9em;
}

.Header-description {
    margin-top: .5em;
}