.Icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    fill: $color-blue;
}

.Icon--search {
    width: 25px;
    height: 25px;
}

.Icon--calender {
    width: 25px;
    height: 25px;
    margin-top: -.3em;
}

.Icon--marker {
    width: 25px;
    height: 25px;
    margin-top: -.3em;
}

.Icon--map {
    width: 25px;
    height: 25px;
    margin-top: -.3em;
}

.Icon--list {
    width: 25px;
    height: 25px;
    margin-top: -.3em;
}

.Icon--add {
    width: 20px;
    height: 20px;
    margin-top: -.2em;
    margin-right: .5em;
    fill: $color-white;
}

.Icon--login {
    width: 20px;
    height: 20px;
    margin-top: -.2em;
    margin-right: .5em;
    fill: $color-white;
}