.Icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    fill: $color-blue;
}

.Icon--search {
    width: 25px;
    height: 25px;
}

.Icon--calender {
    width: 25px;
    height: 25px;
    margin-top: -.3em;
}