.List--bare {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Event-link {
    display: block;
    background: $color-gray;
    padding: .5em 1.5em;
    margin-bottom: .5em;
    &:hover {
        background-color: $color-blue;
        color: $color-white;
        text-decoration: none;
        .Icon {
            fill: $color-white;
        }
    }
}

.Event-name {
    margin-bottom: 0;
}

.Event-date {
    display: inline-block;
    margin-right: 1em;
}

.Event-city {
    display: inline-block;
    margin-top: .5em;
    @include MQ(S) {
        margin-top: 0;
    }
}