
.Event-content {
    position: absolute;
    bottom: 0em;
    @include MQ(S) {
        bottom: 3em;
    }
    width: 100%;
    .Container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.Event-search {
    margin-bottom: .5em;
    width: 100%;
    @include MQ(M) {    
        flex: 1 auto;
        width: 65%;        
    }
}

.Event-selectDate {
    flex: 1 auto;
    margin-bottom: .5em;
    @include MQ(M) { 
        margin-left: .5em;
    }
    .Button {
        width: 100%;
    }
}

.Event-selectCity {
    flex: 1 auto;
    margin-bottom: .5em;
    margin-left: .5em; 
    .Button {
        width: 100%;
    }
}

.Event-selectSwitch {
    flex: 1 auto;
    margin-bottom: .5em;
    margin-left: .5em;
    .Button {
        width: 100%;
    }
}

.Search-form {
    position: relative;
    background-color: $color-white;
    padding: .8em 1em;
    display: inline-block;
    height: 50px;
    width: 100%;
}

.Search-field {
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: .2em .5em;
}

.Search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    padding: 0.2em 1.5em;
}