
.Event-content {
    position: absolute;
    bottom: -1em;
    @include MQ(M) {
        bottom: 3em;
    }
    width: 100%;
    .Container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.Event-search {

    margin-bottom: 1em;
    width: 100%;
    @include MQ(XS) {
        margin-right: 1em;        
    }
    @include MQ(S) {    
        flex: 1;
        width: inherit;        
    }
}

.Event-selectDate {
    // flex: 1 auto;
    margin-bottom: 1em;
    margin-right: 1em;        
}

.Event-selectCity {
    // flex: 1 auto;
    margin-bottom: 1em;
    margin-right: 1em;        
}

.Event-selectSwitch {
    margin-bottom: 1em;
    // margin-right: 1em;      
}

.Event-add {
    // flex: 1 auto;
}

.Search-form {
    position: relative;
    background-color: $color-white;
    padding: .8em 1em;
    display: inline-block;
    height: 50px;
    width: 100%;
}

.Search-field {
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: .2em .5em;
}

.Search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    padding: 0.2em 1.5em;
}